.navbar {
    background-color: #235471 !important;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ako je potrebno da bude iznad ostalih elemenata */
    height: 70px;  /* Prilagodi visinu prema potrebi */
}
.navbar .navbar-brand {
    font-size: 1.5rem !important;
    margin-left: 1.5rem;
}

.navbar .nav-link {
    color: white !important;
    font-size: 1rem !important;
}

.navbar .nav-link:hover {
    color: #d3d3d3 !important;
}

.navbar .btn-outline-light {
    border-color: white !important;
    color: white !important;
}

.navbar .btn-outline-light:hover {
    background-color: white !important;
    color: #235471 !important;
}


