/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns the container to the top */
    height: calc(100vh - 100px); /* Adjusts height to account for the 100px offset */
    margin-top: 100px; /* Adds a 100px margin from the top */
    padding: 0;
}

.login-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto; /* Center horizontally */
}

.login-form h2 {
    color: #235471;
    text-align: center;
}

.login-form .form-group {
    margin-bottom: 1rem;
}

.login-form .form-control {
    border-color: #235471;
}

.login-form .btn-primary {
    background-color: #235471;
    border-color: #235471;
    width: 100%;
}

.login-form .btn-primary:hover {
    background-color: #1d4f74;
    border-color: #1d4f74;
}
