/* Register.css */
.register-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns the container to the top */
    height: calc(100vh - 100px); /* Adjusts height to account for the 100px offset */
    margin-top: 100px; /* Adds a 100px margin from the top */
    padding: 0;
    background-color: #f8f9fa;
}

.register-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.register-form h2 {
    color: #235471;
    text-align: center;
}

.register-form .form-group {
    margin-bottom: 0.5rem !important;
}


.register-form .form-control {
    border-color: #235471;
}

.register-form .form-text {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: #6c757d;
}

.register-form .btn-primary {
    background-color: #235471;
    border-color: #235471;
    width: 100%;
}

.register-form .btn-primary:hover {
    background-color: #1d4f74;
    border-color: #1d4f74;
}
