
.container {
    padding: 20px;
    margin-top: 30px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    padding: 10px;
    font-size: 16px;
}

.categories-stack {
    margin-bottom: 20px;
}

.badge {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.unselected-category {
    background-color: #6c757d;
    color: #ffffff;
}

.bg {
    background-color: #235471 !important;
    color: #ffffff;
}

.unselected-category:hover,
.selected-category:hover {
    background-color: #1e4761 !important;
}

.btn-primary {
    background-color: #235471 !important;
    border-color: #235471 !important;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 20px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
}

.btn-primary:hover {
    background-color: #1e4761 !important;
    border-color: #1e4761 !important;
}

.formClass {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img {
    width: 150px;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="file"] {
    margin-top: 10px;
}
